VITE_CLERK_PUBLISHABLE_KEY=pk_test_bXV0dWFsLW11bGUtMzAuY2xlcmsuYWNjb3VudHMuZGV2JA
DATABASE_URL=postgresql://neondb_owner:npg_vt2j6cdJLZsV@ep-restless-wildflower-a1qh6nu6-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Google AI
GOOGLE_API_KEY=AIzaSyAKYVqK-11_TlXl6ECOjHDoTQShRoKF8AQ
GOOGLE_GEMINI_MODEL=gemini-1.5-flash

# Server
DEBUG=True
HOST=0.0.0.0
PORT=8000